In [1]:
import pandas as pd

In [9]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [ 30, 50, 57, 120],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [10]:
jasper = pd.DataFrame(raw_data)
jasper

         name   evolution   type   hp pokedex
0   Bulbasaur     Ivysaur  grass   30     yes
1  Charmander  Charmeleon   fire   50      no
2    Squirtle   Wartortle  water   57     yes
3    Caterpie     Metapod    bug  120      no

In [11]:
jasper.head()

         name   evolution   type   hp pokedex
0   Bulbasaur     Ivysaur  grass   30     yes
1  Charmander  Charmeleon   fire   50      no
2    Squirtle   Wartortle  water   57     yes
3    Caterpie     Metapod    bug  120      no

In [12]:
jasper.tail()

         name   evolution   type   hp pokedex
0   Bulbasaur     Ivysaur  grass   30     yes
1  Charmander  Charmeleon   fire   50      no
2    Squirtle   Wartortle  water   57     yes
3    Caterpie     Metapod    bug  120      no

In [13]:
jasper = jasper[['name', 'type', 'hp', 'evolution','pokedex']]
jasper

         name   type   hp   evolution pokedex
0   Bulbasaur  grass   30     Ivysaur     yes
1  Charmander   fire   50  Charmeleon      no
2    Squirtle  water   57   Wartortle     yes
3    Caterpie    bug  120     Metapod      no

In [14]:
jasper['place'] = ['park','street','lake','forest']
jasper

/var/folders/s3/lqgswjqd2flbfms2jz_nc5580000gn/T/ipykernel_1710/616875806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jasper['place'] = ['park','street','lake','forest']

         name   type   hp   evolution pokedex   place
0   Bulbasaur  grass   30     Ivysaur     yes    park
1  Charmander   fire   50  Charmeleon      no  street
2    Squirtle  water   57   Wartortle     yes    lake
3    Caterpie    bug  120     Metapod      no  forest

In [15]:
jasper.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [16]:
jasper.describe()

               hp
count    4.000000
mean    64.250000
std     38.887659
min     30.000000
25%     45.000000
50%     53.500000
75%     72.750000
max    120.000000

In [18]:
jasper.evolution.sum()

'IvysaurCharmeleonWartortleMetapod'